.dropdown-menu .container-fluid {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#saveLinkButton {
  float: right;
}

.voteLabel {
  display: inline;
  text-align: center;
}

.voteButton {
  border-width: 0px;
  padding: 0px;
}

.tagButton {
  border-width: 0px;
  padding: 0px 6px;
}

.tagLabel {
  margin-right: 5px;
}

.linkHr {
  margin: 2px 0px 2px 0px;
  border-color: gray;
}

.numberOfViewLabel {
  float: right;
  padding-top: 4px;
}

.glyphicon-plus-sign {

  pointer-events: none;
}

.tagForm {
    display:inline!important;
}

#CA .categoryList .categoryWrap {
  position: relative;
  margin-right: 15px;
}

#CA .categoryList .cRemoveStyle {
  font-size: 10px;
  position: absolute;
  top: -13px;
  left: -10px;
}

#CA .category {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px
}

#CA .addCategory {
  margin-left: 0;!important;
}

#CA #addNoteForm div.form-group {
  float: left;
}

#CA #submitNote {
  width: 10%;
}

#CA #addNoteForm .title {
  width: 18%;
}

#CA #addNoteForm .content {
  width: 68%;
}

#CA .listNote {
  padding-left: 15px;
}

#CA .listNote .noteBtn {
  font-size: 11px;
  margin-left: 3px;
  cursor: pointer;
}

#CA .listNote .noteItem {
  margin-top: 10px;
}

#CA #editCateForm div.form-group {
  float: left;
}

#CA #editCateForm .name {
  width: 85%;
}

#CA #editCateForm #submitEditCate {
  width: 10%;
}

#submitEditCate {
  margin-left: 21px;
}
