body {
  font-family: 'Lato';
  width:90%;
  margin:auto;
}

.fa-btn {
  margin-right: 6px;
}

#LA .dropdown-menu .container-fluid {
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#saveLinkButton {
  float: right;
}

.voteLabel {
  display: inline;
  text-align: center;
}

.voteButton {
  border-width: 0px;
  padding: 0px;
}

.tagButton {
  border-width: 0px;
  padding: 0px 6px;
}

.tagLabel {
  margin-right: 5px;
}

.linkHr {
  margin: 2px 0px 2px 0px;
  border-color: gray;
  
}

.numberOfViewLabel {
  float: right;
  padding-top: 4px;
}

.glyphicon-plus-sign {
  pointer-events: none;
}

.tagForm {
    display:inline!important;
}
.voted{
  color:orange;
}
.deleteLink {
  float:right;
  clear:right;
  
}
.linkOwnerSpan {
  float:right;
  margin-right: 5px;
}

#CA .categoryList .categoryWrap {
  position: relative;
  margin-right: 15px;
}

#CA .categoryList .cRemoveStyle {
  font-size: 10px;
  position: absolute;
  top: -13px;
  left: -10px;
}

#CA .category {
  margin-bottom: 5px;
  margin-right: 5px
}

#CA .addCategory {
  margin-left: 0;!important;
}

#CA #addNoteForm div.form-group {
  float: left;
}

#CA #submitNote {
  width: 10%;
}

#CA #addNoteForm .title {
  width: 18%;
}

#CA #addNoteForm .content {
  width: 68%;
}

#CA .listNote {
  padding-left: 15px;
}

#CA .listNote .noteBtn {
  font-size: 11px;
  margin-left: 3px;
  cursor: pointer;
}

#CA .listNote .noteItem {
  margin-top: 10px;
}

#CA #editCateForm div.form-group {
  float: left;
}

#CA #editCateForm .name {
  width: 85%;
}

#CA #editCateForm #submitEditCate {
  width: 10%;
}

#submitEditCate {
  margin-left: 21px;
}

#CA .cateMenuDD {
  margin-top: 10px;
}

#CA .dropdown-menu {
  width: 80%;
}

#CA .dropdown-menu .container-fluid {
  padding: 10px;
}

#modalProfile .preview {
  border: 2px dashed #dee3e7;
  border-radius: 3px;
  padding: 15px;
  position: relative;
}

#modalProfile .fileupload-buttonbar p {
  margin-top: 20px;
  margin-bottom: 0;
  color: #8495a4;
  font-size: 16px;
}

#modalProfile .fileupload-buttonbar p b {
  font-size: 28px;
  color: #677683;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

#modalProfile .modal-content {
  text-align: center;
}

#modalProfile .fileupload-buttonbar {
  background: #f0f2f4;
  cursor: pointer;
  transition: background .15s ease,border .15s ease;
}

#modalProfile .modal-options {
  padding: 20px;
}

#my-mentions span {
  position: absolute;
  top: 2px;
  left: 2px;
  color: #E23636;
  background-color: #555555;
  padding: 0px 6px 0px 6px;
  font-size: 0.6em;
  border-radius: 20px;
}

.topbar-avatar {
  max-width: 30px;!important;max-height: 20px;
}

